.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: column;
}

.formContainer {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
}

/* .submitButton {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #0056b3;
} */
