/* NavBar.css */

/* .navbar {
  background-color: #1976d2;
  color: white;
  padding: 0 auto;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
} */
.navbar {
  background-color: #1976d2;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 70px;
  padding: 0px 50px;

  /* Center content */
  line-height: 70px; /* Matches the navbar height */
  text-align: center; /* Centers text horizontally */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-link {
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #cde4f6;
}

.navbar-menu-icon {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background: #1976d2;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-menu-icon {
    display: block;
  }
}
