.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./backroundimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff3a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
  margin-bottom: 20px;
  color: #333;
}
.form {
  width: 100%;
}
.row {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.textarea {
  height: 100px;
  resize: vertical;
}
.success {
  color: green;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}
