.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  background-color: #efcfff;
  padding: 10px;
}

.sidebarItem {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sidebarItem:hover {
  background-color: #bf63ed;
}

.sidebarItem.selected {
  background-color: #AA00FF;
}

.details {
  flex: 1;
  overflow-y: auto;
  background-image: url("./backroundimg.png");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  margin: 0; 
  overflow: hidden; 
}
h2{
  text-align: center;
  margin-top: 20px;
}