.homePageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
  background-image: url("./backroundimg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.homePageContent {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

.heading {
  font-size: 58px;
  margin-bottom: 20px;
  line-height: 76px;
}

.leftContainer {
  width: 50%;
  padding: 20px;
}
span{
  color: #AA00FF;
}
.buttonGroup {
  display: flex;
  gap:20px;
}
.secondaryButton{
  background-color:transparent;
  color: #fff;
  border: 2px solid #AA00FF;
}
.secondaryButton:hover{
  background-color: #fff;
  color: #AA00FF;
}
.rightContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./resume.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.rightContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
  .homePageContent {
    flex-direction: column;
  }

  .leftContainer,
  .rightContainer {
    width: 100%;
    padding: 10px;
  }
  .buttonGroup {
    display: flex;
    gap:10px;
  }
  .rightContainer {
    display: none;
  }
}
