/* CreateResume.module.css */

.container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* .button {
  font-size: 16px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #4f4acf;
} */
